@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-5">

    <h1>Contact Us</h1>

    <p>Email: coaching@gmail.com</p>

    <p>Phone: 9876543210</p>

    <p>Address: Your City, India</p>

<div class="mt-5" style="max-width:500px;">

    <h3>Send Message</h3>

    <form>

        <input type="text"
               class="form-control mb-3"
               placeholder="Enter Name" />

        <input type="email"
               class="form-control mb-3"
               placeholder="Enter Email" />

        <textarea class="form-control mb-3"
                  rows="4"
                  placeholder="Enter Message"></textarea>

        <button class="btn btn-primary">
            Send
        </button>

    </form>

</div>
</div>