@{
    ViewData["Title"] = "Science Course";
}

<div class="container mt-5">

    <h1>Science Course</h1>

    <p class="mt-3">
        Complete science preparation with practical concepts.
    </p>

    <ul>
        <li>Physics</li>
        <li>Chemistry</li>
        <li>Biology</li>
        <li>Weekly Tests</li>
    </ul>

    <a href="/Student/Register"
       class="btn btn-primary mt-3">
        Join This Course
    </a>

</div>